doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
    script(type:'text/javascript', src: '/javascripts/registerData.js')
  body
    p Voici les données que #{serviceName} a sur vous
    p Choisissez lesquelles vous voulez dans votre banque de données, vous pourrez ensuite les partager avec des causes qui en ont besoin
    form(method="post", action ='/registerData')
      input(id='serviceName', type='hidden', name='serviceName', value=serviceName)
      input(type="hidden", name="userId", value=idUser)
      each val in dataNames
        input(id='dataName', type='submit', name='dataName', value=val)


    p Voici ce que fait #{serviceName} avec vos données
    p Vous pouvez cliquer pour avoir plus d'informations sur ces utilisations
    form(method="post", action ='/purpose')
      each val in purposeNames
        input(type='hidden', name='serviceName', value=serviceName)
        input(type='submit', name=purposeName, value=val)